.resetpassword-text {
    font-family: 'plusjakarta', sans-serif;
}

.resetpassword-container {
  user-select: none;
}

.resetpassword-text {
  font-family: 'plusjakarta', sans-serif;
  color: white;
}